:root {
    --white: #b3b389;
    --black: #141414;
    --orange: #FF9700;
    --red: #E50914;
    --lred: #f7797d;
    --green: #2ecc71;
    --blue: #3498db;
    --purple: #c471ed;
    --skin: #fdb35d;
    --lgreen: #A5FECB;
    --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background {
    background: linear-gradient( 330deg, var(--red), var(--orange));
    height: 100%;
}
a {
    position: absolute;
    background-color: var(--blue);
    font-family: var(--font);
    color: white;
    border-radius: 18px;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.5s;
    right: 20px;
}

a:hover {
    background-color: white;
    color: var(--blue);
}

a:focus {
    background-color: white;
    color: #2ecc71;
}
